<table class="table">
  <div class="text-end">
    <a href="/watches/add" class="btn btn-bd-primary">Add New Section</a>
  </div>
  <thead>
    <tr>
      <th>Watch Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Automatic</th>
      <th>Brand</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if (!watches || watches.length === 0) { %>
    <tr>
      <td colspan="6" class="text-center">No watches found.</td>
    </tr>
    <% } else { %> <% watches.forEach(watch => { %>
    <tr>
      <td><%= watch.watchName %></td>
      <td><img src="<%= watch.image %>" alt="" class="w-25" /></td>
      <td><%= watch.price %></td>
      <td><%= watch.automatic ? 'Yes' : 'No' %></td>
      <td><%= watch.brand.brandName %></td>
      <td>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item">
              <a
                href="/watches/detail/<%= watch._id %>"
                class="btn btn-primary btn-sm"
              >
                <i class="fa-solid fa-eye"></i>
                View</a
              >
            </li>

            <li class="dropdown-item">
              <a
                href="/watches/<%= watch._id %>"
                class="btn btn-warning btn-sm"
              >
                <i class="fa-solid fa-pen-to-square"></i>
                Edit</a
              >
            </li>

            <li class="dropdown-item">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal<%= watch._id %>"
              >
                <i class="fa-solid fa-trash"></i> Delete
              </button>
            </li>
          </ul>
          <%- include('../modals/deleteModal') -%>
        </div>
      </td>
    </tr>
    <% }) %> <% } %>
  </tbody>
</table>
