<h2 class="text-center">Edit Watch</h2>

<form action="/watches/<%= watch._id %>?_method=PUT" method="POST">
  <div class="form-group">
    <label for="watchName">Watch Name</label>
    <input
      type="text"
      class="form-control"
      id="watchName"
      name="watchName"
      value="<%= watch.watchName %>"
      required
    />
    <small class="form-text text-muted"
      >Watch name should start with a capital letter and can contain letters,
      digits, spaces, and forward slashes.</small
    >
  </div>
  <div class="form-group">
    <label for="sectionDescription">Watch Description</label>
    <textarea
      class="form-control"
      id="watchDescription"
      name="watchDescription"
      required
    >
<%= watch.watchDescription %></textarea
    >
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      value="<%= watch.price %>"
      required
    />
  </div>
  <div>
    <h6>Automatic</h6>
    <div class="form-group form-check">
      <input type="radio" class="form-check-input" id="isMainTaskTrue"
      name="automatic" value="true" <%=watch.automatic ? 'checked' : '' %>>
      <label class="form-check-label" for="isMainTaskTrue">True</label>
    </div>
    <div class="form-group form-check">
      <input type="radio" class="form-check-input" id="isMainTaskFalse"
      name="automatic" value="false" <%=!watch.automatic ? 'checked' : '' %>>
      <label class="form-check-label" for="isMainTaskFalse">False</label>
    </div>
  </div>

  <div class="mt-2">
    <a type="submit" href="/dashboard" class="btn btn-secondary">Cancel</a>
    <button
      type="button"
      class="btn btn-warning"
      data-bs-toggle="modal"
      data-bs-target="#updateModal"
    >
      Update watch
    </button>
  </div>
  <%- include('./modals/editModal') -%>
</form>
